:root {
/*  --border-color: rgb(217, 229, 240);
  --inputBorder-color: rgb(80, 133, 188);

  --buttonBackground-color: rgb(104, 149, 197);
  --buttonHoverBackground-color: rgb(166, 189, 219);
  --buttonText-color: rgb(217, 229, 240);

  --tileBackground-color: rgb(128, 166, 206);

  --inputText-color: rgb(45, 114, 178);
  --regularText-color: rgb(80, 133, 188);*/


  --header-height: calc(1.3rem + 40px);

  --point-color: rgb(8, 96, 168);
  --regular-color: rgb(45, 114, 178);
  --theme-color: rgb(166, 189, 219);
  --atmo-color: rgb(191, 209, 229);
}

* {
  box-sizing: border-box;
  font-family: Verdana;
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

body, header {
  margin: 0;
  padding: 0;
  min-width: 300px;
}

header {
  width: 100vw;
  height: var(--header-height);
  background-color: var(--theme-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  box-shadow: inset 0px -5px 10px 0px var(--atmo-color);
}

#navbar {
  width: 50vw;
  max-width: 300px;
  font-size: 1.3rem;
  text-transform: lowercase;
}

#navbar > ul {
  position: absolute;
  right: 2%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

#navbar > ul > li {
  list-style: none;
}

#navbar > ul > li > a {
  color: white;
  text-decoration: none;
  transition: color 0.5s ease-in-out 0ms;
}

#navbar > ul > li > a:hover {
  color: var(--point-color);
}

#top-button {
  background: var(--theme-color);
  color: var(--point-color);
  text-align: center;
  padding-top: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-decoration: none;
}

main section {
  padding-top: var(--header-height) !important;
}

#welcome-section {
  /* border: 1px solid blue; */
  width: 100vw;
  height: 100vh;
/*  height: 800px;*/
  min-height: 200px;
  background-color: var(--atmo-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcome-text {
  font-size: 4rem;
  color: var(--point-color);
}

.section-header {
  margin: 0 auto 1.8rem auto;
  padding-top: 30px;
  font-size: 2rem;
  text-align: center;
  width: 90vw;
  padding-bottom: 1.5rem;
  border-bottom: 2px solid var(--theme-color);
  color: var(--point-color);
}

#intro-section {
  width: 100vw;
  height: 100vh;
  font-size: 1rem;
}

#intro-content {
  margin: 0 5vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  place-items: center;

  color: var(--regular-color);
}

#projects {
  min-height: 100vh;
}

img {
  object-fit: cover;
  width: 400px;
  height: 400px;
  border-radius: 5%;
}

#projects-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

#projects-list > a {
  text-decoration: none;
}

.project-tile {
  color: white;
  font-size: 1.1rem;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--theme-color);
  transition: transform 0.5s ease-in-out 0ms;
  /* border: 2px solid blue; */
}

.project-tile:hover {
  transform: scale(1.1);
}

#contacts-section {
  margin: 0;
  min-height: 300px;
  height: 100vh;
  background: var(--atmo-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid orange; */
}

#social-media {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 100px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

#social-media > a, #email-address {
  text-decoration: none;
  font-size: 2rem;
  color: var(--regular-color);
  transition: transform 0.5s ease-in-out 0ms;
}

#social-media > a:hover {
  opacity: 70%;
  transform: scale(1.1);
}

.fa {
  width: 50px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  background: var(--regular-color);
  color: white;
  padding-top: 10px;
  /* border: 1px solid red; */
  border-radius: 50%;
}

@media only screen and (max-height: 400px) {
  #welcome-text {
    font-size: 3rem;
  }
  
  #social-media > a {
    font-size: 1.5rem;
  }
}

footer {
  margin: 0;
  border: 1px solid transparent;
  background: var(--theme-color);
  min-height: var(--header-height);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}