:root {
  --header-height: calc(1.3rem + 40px);
  --point-color: blue;
  --atmo-color: #F0FFFF;
  --theme-color: lightblue;
}

* {
  box-sizing: border-box;
  font-family: Verdana;
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

body, header {
  margin: 0;
  padding: 0;
  min-width: 300px;
}

header {
  width: 100vw;
  height: var(--header-height);
  background-color: var(--theme-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

#navbar {
  width: 50vw;
  max-width: 300px;
  font-size: 1.3rem;
  text-transform: lowercase;
}

#navbar > ul {
  position: absolute;
  right: 2%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

#navbar > ul > li {
  list-style: none;
}

#navbar > ul > li > a {
  color: white;
  text-decoration: none;
  transition: color 0.5s ease-in-out 0ms;
}

#navbar > ul > li > a:hover {
  color: var(--point-color);
}

main section {
  padding-top: var(--header-height) !important;
}

#welcome-section {
  /* border: 1px solid blue; */
  width: 100vw;
  height: 100vh;
/*  height: 800px;*/
  min-height: 200px;
  background-color: var(--atmo-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcome-text {
  font-size: 4rem;
}

#projects {
  min-height: 100%;
}

.section-header {
  margin: 0 auto 1.8rem auto;
  padding-top: 30px;
  font-size: 2rem;
  text-align: center;
  width: 90vw;
  padding-bottom: 1.5rem;
  border-bottom: 2px solid var(--theme-color);
}

img {
  object-fit: cover;
  width: 400px;
  height: 400px;
}

#projects-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

#projects-list > a {
  text-decoration: none;
}

.project-tile {
  color: black;
  font-size: 1.1rem;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--theme-color);
  transition: transform 0.5s ease-in-out 0ms;
  /* border: 2px solid blue; */
}

.project-tile:hover {
  transform: scale(1.1);
}

#contacts-section {
  margin: 0;
  min-height: 300px;
  height: 100vh;
  background-color: var(--atmo-color);
  /* border: 1px solid orange; */
}

#social-media {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 100px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

#social-media > a {
  text-decoration: none;
  font-size: 2rem;
  color: blue;
  transition: transform 0.5s ease-in-out 0ms;
}

#social-media > a:hover {
  opacity: 70%;
  transform: scale(1.1);
}

.fa {
  width: 50px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  background: blue;
  color: white;
  padding-top: 10px;
  /* border: 1px solid red; */
  border-radius: 50%;
}

@media only screen and (max-height: 400px) {
  #welcome-text {
    font-size: 3rem;
  }
  
  #social-media > a {
    font-size: 1.5rem;
  }
}

footer {
  margin: 0;
  border: 1px solid transparent;
  background-color: var(--theme-color);
  min-height: var(--header-height);
}